@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 7px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #1f1f1f;

}


::-webkit-scrollbar-thumb {
  background:linear-gradient( #218aec, #1b48d2); /* Light blue color for the thumb */
  border-radius: 10px; /* Set the border-radius for rounded corsaners */
  border: 1px solid #00003c; /* Gray border for the thumb */
  padding: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6b4bec; /* Light blue color for the thumb on hover */
}

::-webkit-scrollbar-corner {
  background: transparent; /* Set the background color for the scrollbar corner */
}

html,body {
  width: 350px;
  height: 450px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  color: gray;
  background-color: #1f1f1f;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;  
  font-size: x-small;
  padding: 0 30px 0 0px;
}

.cyan{
  color: cyan;

}
.flex {
  display: flex;
  gap: 10px;
  justify-content:center;
  align-items: center;
}

.flexcol{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content:center;
  align-items: start;

}

.App{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content:space-evenly;
  align-items: center;
  background-color: black;
}

.flex1{
  height: 10%;
}
.App-logo{
  max-height: 40px;
}

.outer1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80%;
  width: 97%;
  margin-left: 5px;
  color: #3abbe3;
}

.grid{
  height: 50%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 5px;
  
  
}